<!doctype html>
<html>
<head>
	<title>CTS starting</title>
</head>

<body>
<div style="text-align: center;">
	<h1>Welcome to the CTS website</h1>

	<h2>We are reformatting our periodic table</h2>

	<h2>We will be up and running shortly.</h2>

	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Periodic_table_%28polyatomic%29.svg/770px-Periodic_table_%28polyatomic%29.svg.png"
	     alt="table">

	<p>502</p>
</div>
</body>
</html>
