@charset "UTF-8";

/**
 * warning this css file should not be modified since it's based on the cts2.scss file and any changes will be overridden
 * during compile time
 */

//variable definition

//basic font properties
$mainFontName: Helvetica, serif;
$mainFontSize: 0.9em;
$mainFontColor: #0b1830;
//color for all header
$headerFontColor: #0b456f;

//indent for info pictures
$infoPicPaddingLeft: 28px;

//just to keep some stuff even
$evenPadding: 10px 10px 10px 10px;
$evenMargin: 12px 12px 12px 12px;

//css layout section
html * {
	margin: 0;
}

/**
color for all headers
*/
h1, h2, h3, h4, h5, h6 {
	color: $headerFontColor;
}

/**
* general headers on the page
*/

.page_header {
	color: $headerFontColor;
	text-align: left;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;

	.siteinfo {
		margin-top: 10px;
		text-indent: 20px;
	}
}

.ctsHeader {
	margin: 0;
	padding: 15px;
	color: white;
	font-size: 1.0em;
	background-color: #1A3E68;
	border-bottom: 5px solid #DFC166;
}

.ctsTitle {
	font-size: 2.0em;
}

.BodyBackground {
	background: white;
	margin-top: 0;
}

/* GENERAL */

.spinner {
	//	padding: 5px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;
	width: 100px;
	height: 20px;
	//	right: 0;
}

.wait {
	display: none;
	position: absolute;
	z-index: 101;

	background-color: rgba(160, 160, 160, 0.75);
}

#wait-img {
	position: relative;
	top: 50%;
	left: 50%;
}

body {
	background: #fff;
	/*	color: #333;*/
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: $mainFontName;
	font-size: $mainFontSize;
}

/**
 * basic layout of the boxes
 */

#main {
	width: 100%;
	margin: 0 auto;
}

/**
 * differnt margin based spacing
 */
.space {
	&.top {

		&.tiny {
			margin-top: 15px;
		}

		&.small {
			margin-top: 25px;
		}

		&.medium {
			margin-top: 150px;

		}
		&.large {
			margin-top: 200px;
		}
	}
	&.bottom {
		&.small {
			margin-bottom: 75px;
		}
		&.medium {
			margin-bottom: 150px;

		}
		&.large {
			margin-bottom: 200px;
		}
	}

}

.left {
	float: left;
	width: 69%;
	margin-left: 0;
}

.right {
	float: right;
	width: auto;
	margin-right: 0;
}

.box {
	margin: 5px 15px 5px 15px;
	//h3 {
	//	padding: 0 0 0 0;
	//}

	p {
		text-indent: 10px;
		padding: 5px 12px 5px 12px;
	}
}

/*
 * formated box content
 */

table, ul {
	padding: 5px 12px 5px 12px;
}

.header {
	border: 1px solid black;
	border-bottom: none;
	padding: 5px;
	display: block;
	font-size: 14pt;
	background-color: #eee;
}

.content {
	border: 1px solid black;
	border-top: none;
	padding: 10px 5px;
	display: block;
	font-size: 12pt;
}

.searchForm {
	vertical-align: middle;
}

/* Corner radius */

//.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
//	border-top-left-radius: 4px;
//}
//
//.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
//	border-top-right-radius: 4px;
//}
//
//.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
//	border-bottom-left-radius: 4px;
//}
//
//.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
//	border-bottom-right-radius: 4px;
//}

a {
	color: #1A3E68;

	&:link, &:visited, &:hover {
		/*    color: #666;*/
		text-decoration: none;
	}

	&:visited {
		color: #CFA21A;
	}
}

ul {
	padding-left: 15px;
}

textarea {
	padding: 0 0 0 0;
	vertical-align: top;
}

.message {
	background-color: #f3f8fc;
	/*background-image: url(../images/skin/information.png) 8px 50% no-repeat;*/
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0;
	vertical-align: top;
	text-indent: 0;
}

.warning {
	background-color: #F8EECC;
	border: 1px solid #DAAA00;
	color: #CFA21A;
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0;
	vertical-align: middle;
	text-indent: 0;
	text-align: center;
}

div {
	&.errors {
		background: #fff3f3 url(../images/skin/exclamation.png) 8px 50% no-repeat;
		border: 1px solid red;
		color: #cc0000;
		margin: 10px 0 10px 0;
		padding: 15px 15px 15px 28px;
		vertical-align: top;
	}
	&.errors-center {
		background: #fff3f3;
		border: 1px solid red;
		color: #cc0000;
		margin: 10px 0 5px 0;
		padding: 5px 0 5px 0;
		text-align: center;
	}
	&.errors {
		ul {
			list-style: none;
			padding: 0;
		}
		li {
			background: url(../images/skin/exclamation.png) 8px 0 no-repeat;
			line-height: 16px;
			padding-left: 30px;
		}
	}
}

td.errors {
	select, input {
		border: 1px solid red;
	}
}

/* TABLES */

table {
	border: 1px solid #cccccc;
	width: 100%;
}

tr {
	border: 0;
	> td {
		&:first-child {
			/* overrides main.css */
			padding-left: 5px;
		}
		&:last-child {
			/* overrides main.css */
			padding-right: 5px;
		}
	}

	//odd rows
	&.odd {
		background: #f7f7f7;
	}

	//even rows
	&.even {
		background: #ffffff;
	}

}

td {
	line-height: 15px;
	padding: 5px 6px;
	text-align: left;
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 0;
	font-size: 0.85em;

	&.centered {
		text-align: center;
	}

	&.width-20 {
		width: 20%;
	}
}

th {
	background: white url(../images/skin/shadow.jpg);
	/*	color: #666;*/
	line-height: 17px;
	padding: 2px 6px;
	white-space: nowrap;
	margin-top: 2px;
	margin-bottom: 2px;
	border-bottom: 2px solid #ccc;
	font-size: 0.95em;
	a {
		&:link, &:visited, &:hover {
			/*	color: #333;*/
			display: block;
			text-decoration: none;
			width: 100%;
		}
	}
	&.asc a, &.desc a {
		background-position: right;
		background-repeat: no-repeat;
	}
	&.asc a {
		background-image: url(../images/skin/sorted_asc.gif);
	}
	&.desc a {
		background-image: url(../images/skin/sorted_desc.gif);
	}
	&.inchi-key-no-break {
		white-space: nowrap;
		width: 200px;
	}
	&.formula-no-break {
		white-space: nowrap;
		width: 120px;
	}
	&.name-with-break {
		white-space: normal;
		width: 200px;
	}
}

td.name-with-break {
	white-space: normal;
	width: 200px;
}

/* PAGINATION */

.paginationLabel {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* DIALOG */

.dialog table {
	padding: 5px 0;
}

.prop {
	padding: 5px;
	.name {
		text-align: left;
		width: 15%;
		white-space: nowrap;
	}
	.value {
		text-align: left;
		width: 85%;
	}
}

/**
 * mark something as flagged
 */

a {
	&.flag {
		background: transparent url(../images/skin/flag.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.promote {
		background: transparent url(../images/skin/promote.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.demote {
		background: transparent url(../images/skin/demote.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.search {
		background: transparent url(../images/skin/database-search.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.detail {
		background: transparent url(../images/skin/database-detail.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.external {
		background: transparent url(../images/skin/External_Link_icon.ashx.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
}

/**
 * external link
 */

.external-link {
	background: transparent url(../images/skin/External_Link_icon.ashx.png) 5px 50% no-repeat;
	padding-left: $infoPicPaddingLeft;
	overflow: visible;
	white-space: nowrap;
}

/**
 * a molcule
 */

a {
	&.molecule {
		background: transparent url(../images/skin/molecule.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.home {
		background: transparent url(../images/skin/house.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.result {
		background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.transform {
		background: transparent url(../images/skin/convert16x16.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: hidden;
		white-space: nowrap;
	}
	&.discovery {
		background: transparent url(../images/skin/discover16X16.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
	&.mass_transform {
		background: transparent url(../images/skin/masConvert16x16.png) 5px 50% no-repeat;
		padding-left: $infoPicPaddingLeft;
		overflow: visible;
		white-space: nowrap;
	}
}

/**
 * query form styles
 */
textarea.query {
	min-width: 80%;
	width: 100%;
	min-height: 100px;
	height: 150px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#defaultIds {
	margin: 0 auto;
	width: 100%;
}

#expandIds {
	margin: -1px auto 0 auto;
	width: auto;
	padding: 0;
	font-weight: normal;

	p {
		text-align: center;
	}
}

#extraIds {
	margin: -1px auto 0 auto;
}

/**
 * syntax highlighting
 */
samp, code {
	padding: 10px;
	display: block;
}

div.codeblock {
	margin: 0 auto 0 50px;
	max-width: 700px;
	overflow-x: scroll;
	background-color: #eaeaea;
}

/**
 * result section
 */
.results {
	list-style: none;

	//export part
	.export {
		margin: 15px 0 15px 0;
		padding: 5px 0 5px 0;
	}

	//export menu buttons
	.menuButton {
		margin: 15px;
		padding: .4em 1em;
		width: auto;
		min-width: 100px;
		text-align: center;
	}

	//result table
	table {
		margin: 15px 0 15px 0;
		padding: 5px 0 5px 0;
		border-collapse: collapse;
		border: 0 none;

		thead {
			tr {
				th {
					background: none;
					border-bottom: solid thin;
					border-color: #6b6b6b;
					padding: 5px;
					text-align: left;
					color: #0c1b40;
				}
			}
		}

		tbody {
			tr {
				td {
					margin: 3px 0 3px 0;
					padding: 5px;
					border-left: 0 none;
					border-right: 0 none;
					border-top: solid #858585 thin;
					font-size: 10pt;
					vertical-align: top;
				}
			}
		}
	}

	div[name="fullIdValues"] {
		display: none;
		margin: 0;
	}

	div[name="partialValues"],
	div[name="smallValues"] {
		padding: 0;
		margin: 0;
	}

	span {
		&[name="moreValues"],
		&[name="lessValues"] {
			margin: 5px;
			float: right;
			width: 15px;
			height: 10px;
			cursor: pointer;
			background-position: 5px 2px;
			background-repeat: no-repeat;
		}

		&[name="moreValues"] {
			background-image: url("../images/skin/sorted_desc.gif");
		}
		&[name="lessValues"] {
			background-image: url("../images/skin/sorted_asc.gif");
		}

		// pagination //
		&.currentStep {
			padding: 0 5px;
		}
	}

	/* paging links */
	.step {
		padding: 0 5px;
	}

	.prevLink {
		margin: 5px;
		width: auto;
		min-width: 100px;
		padding: .4em 1em;
		text-align: center;
		float: left;
		&:hover {
			background-color: #b2d1ff;
			cursor: pointer;
		}
	}

	.nextLink {
		margin: 5px;
		width: auto;
		min-width: 100px;
		padding: .4em 1em;
		text-align: center;
		float: right;
		&:hover {
			background-color: #b2d1ff;
			cursor: pointer;
		}
	}

	p {
		margin: 15px 0 15px 0;
		padding: 5px 0 5px 0;

	}

	code {
		margin: 25px 15px 25px 15px;
		padding: 10px 10px 10px 10px;
		background-color: #eaeaea;
		width: 100%;
		text-align: center;
	}

	//result list
	ul {
		margin: 15px 10px 15px 10px;
		padding: 0;
		clear: both;
		display: block;
		list-style-type: square;

		li {
			list-style-type: none;
			margin: 5px 0 5px 0;

			h4 {
				margin-top: 25px;
				margin-bottom: 15px;
				color: #6c6c6c;
			}

			h3 {
				margin-top: 25px;
			}

			div {
				margin-top: 15px;
				margin-bottom: 00px;
			}

			table {
				margin: 25px 10px 25px 10px;
				padding: 0 0 0 0;
			}
		}

		/**
		 * multi coumn list
		 */
		&.multi-column {

			//how wide all columns combined should be
			$column-total-width: 100%;
			$column-count: 4;

			//defined total width
			width: $column-total-width;

			li {
				float: left;

				//width is calculated based on the column count
				width: $column-total-width/$column-count;
			}
		}
	}

	.left {
		width: 49%;
	}
	.right {
		width: 49%;
	}
	/**
	   * to tell the multi column list to stop
	   */
	br {
		.multi-column {
			.clear {
				clear: left;
			}
		}
	}

	.clear {
		clear: both;
	}

	ol {

		margin: 15px 10px 15px 20px;
		padding: 0;

		li {
			list-style: none;
			margin: 6px 0 6px 0;
		}
	}
}

ul.treeList {
	background-color: white;

	& li {
		list-style: none;
		background-color: white;

		 & a {
			color: $headerFontColor;
			list-style: none;
		}
	}
}

/**
 * overrides jstree leaf icon
 */
.jstree-classic .jstree-leaf a ins.jstree-icon {
	background-image: url("../images/app-icons.png");
	background-position: -37px -2px;
}

/**
* popups
*/
#closePopupLink {
	color: #aaa;
}

#closePopup {
	float: right;
	margin: 0 10px;
}

.warning h3 {
	text-align: left;
	vertical-align: top;
}

/**
* home image
*/

span {
	&.result {
		background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
		white-space: nowrap;
		padding-left: $infoPicPaddingLeft;
	}
	&.blank {
		padding-left: $infoPicPaddingLeft;
	}
}

/* Line */

.hr {
	background: #2647a0;
	height: 1px;
	font-size: 0;
	clear: both;
	margin: 15px 0 15px 0;
	width: 100%;
}

/**
 * no border is displayed
 */

.no-border {
	border: none;
}

.data {
	text-align: right;
	font-style: italic;
}

/**
 * contains all service formats
 */

.navigation {
	list-style: none;
	padding: 15px 2px 2px 15px;
	display: inline-block;

	&.vertical-list {
		li {
			float: left;
			vertical-align: middle;
			padding-bottom: 2px;
			padding-top: 2px;
			color: #fff;

			&.right {
				float: right;
			}
		}
	}

	li {
		padding-right: 25px;
		padding-bottom: 15px;
		padding-top: 15px;

		&.discovery {
			background: transparent url(../images/skin/discover16X16.png) 5px 50% no-repeat;
			padding-left: $infoPicPaddingLeft;
		}
		&.transform {
			background: transparent url(../images/skin/convert16x16.png) 5px 50% no-repeat;
			padding-left: $infoPicPaddingLeft;
		}
		&.mass_transform {
			background: transparent url(../images/skin/masConvert16x16.png) 5px 50% no-repeat;
			padding-left: $infoPicPaddingLeft;
		}
		&.search {
			background: transparent url(../images/skin/database-search.png) 5px 50% no-repeat;
			padding-left: $infoPicPaddingLeft;
		}
		&.other {
			background: transparent url(../images/skin/services.png) 5px 50% no-repeat;
			padding-left: $infoPicPaddingLeft;
		}
		&.home {
			background: transparent url(../images/skin/house.png) 5px 50% no-repeat;
			padding-left: $infoPicPaddingLeft;
		}

		list-style: none;
	}

	h5 {
		color: #6c6c6c;
	}

	a {
		color: #c3c3c3;
	}

	h3 {
		&.first {
			margin-bottom: 15px;
		}

		&.middle {
			margin: 15px 0;
		}

		&.last {
			margin-top: 15px;
		}
	}

	p {
		margin: 5px 0;
	}
}

/* Main & Extra */

.label, .value {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	min-width: 120px;
}

.compound {
	text-indent: 0;
	padding: 0 10px;
}

.details {
	padding: 0 10px;
	text-indent: 0;
}

.compound {
	.details .label, .label {
		font-weight: bold;
		color: #666;
	}
	.details .value, .value {
		font-size: 10pt;
	}
}

.stack {
	border: 1px solid black;
	padding: 5px;
	overflow: auto;
	height: 300px;
}

.snippet {
	padding: 5px;
	background-color: white;
	border: 1px solid black;
	margin: 3px;
}

/**
* list with no styles
* for all elements in the bottom tag
*/

#bottom ul, #result ul {
	list-style: none;
	color: #717b88;
	padding: 0;
	margin: 0;
}

#bottom li, #result li {
	margin-top: 6px;
	margin-bottom: 6px;
	list-style: none;
	color: #717b88;
}

.left-field {
	float: left;
	text-align: left;
	width: 50%;
}

.right-field {
	float: right;
	text-align: right;
	width: 50%;
}

input, textarea {
	padding: $evenPadding;
	margin: 10px 0 10px 0;

}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 66%;
}

input[type='text'] {
	width: 100%;

	//query field
	&.query {
		margin: auto;
		padding: 0.5em;
		width: 90%;
		min-width: 75%;
	}
}

select, label {
	padding: 2px 5px 2px 5px;
	margin: 5px;

	&.query {
		display: inline-block;
		width: auto;
		max-width: 125px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

input[type='submit'] {
	width: 125px;
	border-radius: 4px;

	//query button
	&.query {
		margin: 5px;
		width: auto;
		min-width: 125px;
	}
}

.form-background {
	background-color: #eaeaea;
	padding: 10px 25px 10px 25px;
}

#floatingMenu {
	min-width: 200px;
	max-width: 300px;
}
