<div class="warning">
	<p>
		NOTICE: We have been experiencing delays with conversions, due to inconsistent connectivity to our 3rd party sources.<br/>
		We apologize for the inconvenient.
	</p>
</div>
