<g:if test="${offset > 0}">
	<button class="prevLink ui-button ui-state-active ui-corner-all" onclick="doPrevAndSubmit(document.forms[0]);">Previous</button>
</g:if>
%{--<g:if test="${results.size() >= offset && total > max}">--}%
<g:if test="${end < total - 1 && end > 0}">
	<button class="nextLink ui-button ui-state-active ui-corner-all" onclick="doNextAndSubmit(document.forms[0]);">Next</button>
</g:if>
