<%@ page import="grails.util.Environment; edu.ucdavis.fiehnlab.cts.ScoredValue" %>

<g:set var="firstKey" value="${"f$from".toString()}"/>
firstKey ${firstKey} -- ${firstKey.class.simpleName}
result size:(${results.size()})<br/>
${results}<br/>
<g:each in="${results}" var="res">
	${res} -- ${res.getClass().simpleName}
	${firstKey}:${res[firstKey]}<br/>
	${to}:${res[to]}<br/>
	spread:${res[to].each{"${it.value} (${it.score})<br/>"}}
	%{--<g:if test="${!res.key[0,1].equals('f')}">--}%
		%{--result: ${res.key} = ${res.value}  ==  ${res.get("InChIKey")}<br/>--}%
	%{--</g:if>--}%
	%{--<g:else>--}%
		%{--firstKey: ${res.key} = ${res.value}  ==  ${res.get("InChIKey")}<br/>--}%
	%{--</g:else>--}%
</g:each>

