<%--
Created by IntelliJ IDEA.
User: diego
Date: 4/22/14
Time: 9:46 AM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
	<title>Contact</title>
	<meta name="layout" content="main">
</head>

<body class="BodyBackground">
<div id="main">
	<div class="page_header">
		<h2>License</h2>

		<div class="hr"></div>
	</div>

	<div class="center">
	</div>
</div>

<div class="right" style="width: 30%;">
	<g:render template="/navigation"/>
</div>
</div>
</body>
</html>
